*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  



}


body, html{

    height: 100vh;
    width: 100vw;
    background: rgb(44, 48, 44);
    display: flex;
    justify-content: center;
}



#h1P{
    color: rgb(11, 192, 11);
}


a{
    text-decoration: none;
    color: #000;
}
.content {
    display: flex;
    flex-direction: column;
    height: 520px;
    min-height: 440px;
    max-height: 600px;
    width: 480px;
    border: 2px solid   rgb(11, 192, 11);
    border-radius: 50px;
    position: relative;
    top: 20px;
    background: rgb(34, 36, 34) ;
}

header{
    display: inline;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

header h1{
    font-family: Ubuntu;
    font-size: 64px;
    margin-left: 25px;
}

h1{
    position: relative;
    left: 125px;
}

main{
margin: auto;
width: 85%;
height: 70%;

}

main form{
display: flex;
flex-direction: column;
height: 100%;
justify-content: space-between;

}

.input-field{

    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    height: 55px;
    border: 2px solid #def7f3;
    flex-direction: row-reverse;
    transition: .3s ;
}

.input-field input{
border: none;
outline: none;
background: #def7f3;
width: 88%;
height: 55px;
padding-left: 20px;
font-size: 20px;
font-size: Josefin Sans;
border-radius: 0 8px 8px 0;
transition: .3s ;
}

::-webkit-input-placeholder{
    color: rgb(11, 192, 11);
font-weight: 300;

}

.input-field:hover{
border: 2px solid  #acacac ;
    
}
.input-field:hover > input{
background-color:  #acacac;

}

.input-field label{
    height: 55px;
    width: 18%;
    display: flex;
    align-items: center;
    justify-content: center;

}


.input-field label img{
width: 33px;
height: 33px;

}

.checkbox label{

    color: #def7f3;
    font-family: Josefin+sans;
    cursor: pointer;
    font-size: 18px;
}

.checkbox input{
    display: none;
}

.checkbox input + label::before{
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
   vertical-align: middle;
    border: 2px solid #def7f3;
    border-radius: 5px;
    margin-right: 10px;

}

.checkbox input:checked + label::before{
    background: url(./imagesLogin/check.svg) no-repeat center;

}

.botao{
    display: flex;
    justify-content: center;
    place-items: center;
    position: relative;
    background: transparent;
    top: 0px;
    right: 80px;
    }
    .btn{
        width: 150px;
        height: 50px;
        font-weight: bold;
        font-size: 15px;
        border: none;
        border-radius: 1000px;
        color: #000;
        transition: all 0.6s ease-in-out 0s;

        font-family: Ubuntu  ;
        background: #def7f3;
    }
    
    .btn:hover{
        background: transparent;
        color: rgb(11, 192, 11);
        
        box-shadow: 0 0 60px #0eea5b;
        cursor: pointer;
        border: 2px solid rgb(15, 209, 15);
      
    }

   a:hover{
    color: rgb(11, 192, 11);
   }

    .content footer {
        margin: auto;
        width: 85%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 20%;
        border-bottom: 2px solid #def7f397;
        position: relative;
        bottom: 80px;
    }

    footer a{
        color: #dcdede;
        text-decoration: none;
        font-family: Josefin+Sans;
        font-weight: 400    ;


    }
    footer span a{
       font-weight: 300;
       color: #e1dddd;   
    }

    #voltar {
        position: relative;
        bottom: 50px;
        left: 280px;
       
        color: #dcdede;
        font-size: 20px;
    }

    #voltar:hover{
        color: rgb(11, 192, 11);
    }


    