@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

*{

margin: 0;
padding: 0;
box-sizing: border-box;

}

body{

    background:url(./images/cinema-movie-line-seamless-pattern-vector-illustration-outline-tileable-background_520826-2086.webp);

    width: 100%;
    height: 100vh;
    max-height: 1100px;
    min-height: 320px;

}

header{
background-color: rgba(0, 0, 0, 0.676);
color: antiquewhite;
width: 100%;
height: 80px;
border-radius: 100px;
border-bottom: 2px solid darkred;

}

header h1{
font-family: oswald;
position: absolute;
left: 40px;
top: 10px;
letter-spacing: 15px;
}

header ul{
text-align: right;
}



 li {
    margin: 5px;
    padding: 7px;
    
    display: inline;
  position: relative;
  right: 100px;
  top: 50px;
  border: 3px solid brown;
  border-radius: 50px;
    
}

#divfooter a{
    text-decoration: none;
    color: bisque;

}

header li:hover{
    background-color: brown;
}

header h1:hover{
color: brown;
}



.slideshow{
    width: 95%;
    background-color: rgba(165, 42, 42, 0.5);
    height: 521.59px;
    border: 1px solid transparent;
    border-radius: 50px;
    margin: auto;
    margin-top: 10px;
}
  
